<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex,nofollow" />
    <title>Tạo CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no" />
    <%- include('layouts/common_library.ejs'); %>
    <link rel="preload stylesheet" href="/css/csscv/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/common.css?v=<%= version %>" type="text/css">
    <link rel="stylesheet" href="/css/csscv/create.css?v=<%= version %>" type="text/css">
    <link rel="stylesheet" href="/css/csscv/cropper.css" type="text/css">
    <link rel="stylesheet" href="/css/csscv/cv_create.css?v=<%= version %>" type="text/css">
</head>
<body>
        <div id="main-cv-create">
            <div class="header-main-cv">
                <!-- Các lựa chọn toolbar -->
                <%- include('layouts/cv/toolbar_cv') %>
            </div>
            <div class="container-main-cv">
                <!-- cái này là hộp bên trái thôi, sau khi lựa chọn 1 cái ở toolbar -->
                <%- include('layouts/cv/sidebarcv') %>
                <div id="m_cv">
                    <div class="content-main-cv page_cv">
                        <!-- ten mau cv -->
                        <div class="main-cv-namecv">
                            <div id="cv-title" class="non-printable txt-namecv" contenteditable="true" cvo-validatable="true" cvo-placeholder="CV - TOPCVVN.COM">
                                <!-- Nếu như người dùng không nhập gì sẽ hiển thị CV - TOPCVVN.COM, còn không lấy data_cv.cv_title -->
                                <%= data_cv.cv_title %>
                            </div>
                        </div>
                        <!--Nội dung cv , hiện tại đang là ban-hang-01 -->
                        <%- include('maucv/'+aliasCv+'/index'); %>
                    </div>
                </div>
            </div>
        </div>
        <section id="loader">
            <div class="loader loader-6">
                <div class="loader-inner"></div>
            </div>
        </section>
        <input type="text" hidden id="idcv" value="<%= data_cv.idCV %>">
        <input type="text" hidden id="uid" value="<%= data_cv.uID %>">
        <input type="text" hidden id="accountUser" value="<%= data_uv.account %>">
        <div id="checktext" hidden></div>
        <!-- register -->
        <%- include("layouts/modals/popup_register.ejs")  %>
        <!-- Crop img giúp hiển thị box img chỉnh sửa chọn ảnh,... -->
        <%- include("layouts/modals/crop_img.ejs")  %>
        <!-- anh xem truoc cv -->
        <%- include("layouts/modals/previews_img.ejs")  %>
        <!-- xem noi dung cv tham khao -->
        <%- include("layouts/modals/content_cv_suggest.ejs")  %>
        <!-- page tạo Cv màn mobile -->
        <%- include("layouts/cv_mobile.ejs")  %>
        <!-- ---------------- -->
        <script src="/javascript/jscv/html2canvas.js"></script>
        <!-- Dùng để chỉnh sửa ảnh -->
        <script src="/javascript/jscv/cropper.js" type="text/javascript"></script>
        <script src="/javascript/jscv/jquery-ui/jquery-ui.min.js"></script>
        <script src="/javascript/jscv/functioncv.js"></script>
        <script src="/javascript/jscv/main.js" defer></script>
        <script src="/javascript/jscv/edit.js" defer></script>
        <script src="/javascript/jscv/cv_mobile.js" defer></script>
        <script src="/javascript/jscv/cv_new_all.js" defer></script>
        <script src="/javascript/jscv/create_cv.js" defer></script>

        <script defer>
            var data_box = [],
            data_block = [],
            box,
            block,
            arr_content;
            <% for (const [key, m] of Object.entries(menu_html_default)) { %>
                <% if (m.id === "box03") { %>
                    arr_content = [];
                    <% for (const skill of m.content) { %>
                        arr_content.push({
                            name: `<%- skill.name %>`,
                            exp: `<%- skill.exp %>`
                        });
                    <% } %>
                    box = {
                        id: `<%= m.id %>`,
                        content: arr_content
                    };
                <% } else { %>
                    box = {
                        id: `<%= m.id %>`,
                        content: `<%- m.type !== 'profile' ? m.content : '' %>`
                    };
                <% } %>
                data_box.push(box);
            <% } %>
            <% for (const [key, b] of Object.entries(block_html_default)) { %>
                arr_content = [];
                <% for (const block_content of b.content) { %>
                    arr_content.push({
                        title: `<%- block_content.title %>`,
                        subtitle: `<%- block_content.subtitle %>`,
                        content: `<%- block_content.content %>`
                    });
                <% } %>
                block = {
                    id: `<%= b.id %>`,
                    content: arr_content
                };
                data_block.push(block);
            <% } %>
            console.log(data_block);
            console.log(data_box);
        </script>
</body>

</html>